
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<div class="card " style="width: 18rem; ">
  <img src="~/lib/assets/banner.jpg" class="card-img-top" alt="..." height="22rem">
  <div class="card-body">
    <h5 class="card-title">Dance Studio</h5>
    <p class="card-text">This is the Book Ecommerce Website.</p>
    <a href="#" view class="btn btn-dark">View page</a>
  </div>
</div>

