<div class="Resume">
<div class="wrapper">
  <div class="intro">
    <div class="profile">
      <div class="photo">
        <img src="~/lib/assets/Myprofile.jpg">
      </div>
      <div class="bio">
        <h1 class="name">Bharati Chaudhary</h1>
        <p class="profession">IT ENTHUSIAST</p>
      </div>
    </div>
    <div class="intro-section about">
      <h1 class="title">about me</h1>
      <p class="paragraph">
        Hi everyone, I am an IT Enthusiast, currently studying 6th semester Bsc. CSIT and eeking a challenging career with a
progressive IT organization that provides an
opportunity to capitalize my skills.
      </p>
    </div>
    <div class="intro-section contact">
      <h1 class="title">Contact</h1>
      <div class="info-section">
<i class="bi bi-telephone-fill"></i>        <span>(+977)9861758954</span>
      </div>
      <div class="info-section">
<i class="bi bi-geo-alt-fill"></i>        <span>Gwarko, Lalitpur</span>
      </div>
      <div class="info-section">
<i class="bi bi-envelope"></i>        <span>bharatichaudhary85@gmail.com</span>
      </div>
      
    </div>
<div></div>
  </div>
  <div class="detail">
    <div class="detail-section edu">
      <div class="detail-title">
        <div class="title-icon">
<i class="bi bi-mortarboard-fill"></i>
</div>
        <span>Eduation</span>
      </div>
      <div class="detail-content">
        <div class="timeline-block">
          <h1>Higher Secondary Education Board(SLC)</h1>
          <p>Shramik Shanti Secondary School, Lalitpur</p>
          <time>End - 2016</time>
        </div>
      <div class="detail-content">
        <div class="timeline-block">
          <h1>National Education Board(+2)</h1>
          <p>Shramik Shanti Secondary School, Lalitpur</p>
          <time>2016 - 2018</time>
        </div>
        <div class="timeline-block">
          <h1>Tribhuwan University</h1>
          <p>Bhaktapur Multiple Campus, Bhaktapur</p>
          <time>2020 - present</time>
        </div>
      </div>
    </div>
    <div class="detail-section pg-skill">
      <div class="detail-title">
        <div class="title-icon">
<i class="bi bi-code"></i>        </div>
        <span>Programming skills</span>
      </div>
      <div class="detail-content">
        <ul class="pg-list">
          <li>
            <span>C/C++</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 60%"></div>
            </div>
          </li>
          <li>
            <span>Html/Css</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 75%"></div>
            </div>
          </li>
          <li>
            <span>Javascript</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 50%"></div>
            </div>
          </li>
          <li>
            <span>SQL</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 70%"></div>
            </div>
          </li>
         
          <li>
            <span>Networking</span>
            <div class="sb-skeleton">
              <div class="skillbar" style="--pgbar-length: 40%"></div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="detail-section interests">
      <div class="detail-title">
        <div class="title-icon">
<i class="bi bi-heart-fill"></i>
</div>
        <span>Interests</span>
      </div>
      <div class="detail-content">
        <div class="outer-frame">
          <ul class="favor-list">
            <li>
<i class="bi bi-controller"></i>              <span>Game</span>
            </li>
            <li>
<i class="bi bi-code-slash"></i>              <span>Coding</span>
            </li>
            <li>
<i class="bi bi-earbuds"></i>
<span>Music</span>
            </li>
            <li>
<i class="bi bi-book"></i>              <span>Self-learning</span>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class=" text-center my-2 "><a class="text-black text-decoration-none" href="~/lib/assets/Anzali-Jaiswal_CV.pdf" download>Download my CV<i class="bi bi-download"></i></a></div>